
<%= form_with url: search_projects_path, method: :get, local: true do %>
  <div class="form-group">
    <%= label_tag :query, 'Search Projects' %>
    <%= text_field_tag :query, params[:query], class: 'form-control' %>
  </div>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<br>
<% if @projects.any? %>
  <h2>Search Results</h2>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No projects found</p>
<% end %>




<%if current_user.manager?%>





<%= link_to "New Project", new_project_path , class: 'btn btn-success'%>

<%end%>