<h1><%=@project.title%></h1>
<p><%=@project.description%></p>


<p> <%= link_to "Edit", edit_project_path(@project)%></p>
<p>
	 <%= link_to "Delete Project", project_path(@project), data: {
	turbo_method: :delete,
	turbo_confirm: "Are you sure?"

}%>
</p>
<p><%= link_to "Go back to home", root_url%></p>