<%= form_with model: @bug do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
      <% @bug.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <%= form.hidden_field :project_id, value: @project.id if @project %>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
      <% @bug.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% if !current_user.developer? %>
   <div>
    <%= form.label :developer_id, 'Assign Developer' %><br>
    <% User.developer.map do |developer| %>
      <%= form.radio_button :developer_id, developer.id %>
      <%= form.label "developer_#{developer.id}", developer.email %><br>
    <% end %>
  </div>
<%end%>
  <div>
    <%= form.submit %>
  </div>
<% end %>
